body{
    background-color: darkgreen;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #fff  ;

}

img {
    width: 50%;

}

header
{
    background-color: yellow;
    color: blue;
    padding: 10px 0;
    text-align: center;
}
a
{
    color: blue;
    text-decoration: none;
}
a:hover
{
    color: red;
    text-decoration: none;
}
.container
{
    width: 80%;
    margin: auto;
    overflow: hidden;
}
h1, h2, h3
{
    margin: 0;
    padding: 0;
}



.form-group{
    margin: 1rem 0;
}

label{
    cursor: pointer;
    display: inline-block;
    min-width: 140px;
    vertical-align: top;
}

form{
    display: inline-block;
    padding: 1rem;
    margin: 2rem 0;
    background-color: darkblue;
    border: #333 1px solid;
    border-radius: 5px;
}

.form-group{
    display: flex;
    align-items: center;
}

footer{
    background-color: yellow;
    color: blue;
    padding: 10px 0;
    text-align: center;
}
